# Environments
.env
.venv/
env/
venv/

# Caches & Compiled Code
__pycache__/
*.pyc
*.pyo

# Local Databases (Do not push your test state)
*.db
*.sqlite3
*.sqlite

# OS Generated
.DS_Store
Thumbs.db
credentials.txt
